<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Modifica')}"></head>

<body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <main class="container mt-3 py-3 w-50">
        <h1 class="text-center">Registrazione</h1>
        <h3 th:text="${message}" class="text-center"></h3>
        <form th:action="@{|/user/create|}" th:object="${user}" method="post">
            <div class="mb-3">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control" th:field="*{name}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="cognome">Cognome</label>
                <input type="text" id="cognome" class="form-control" th:field="*{surname}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('surname')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('surname')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" th:field="*{email}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('email')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" th:field="*{password}"
                    th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('password')}" th:text="${error}">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPassword">Ripeti Password</label>
                <input type="password" id="confirmPassword" class="form-control" th:field="*{confirmPassword}"
                    th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('confirmPassword')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registrati</button>

        </form>
    </main>

    <footer th:replace="~{fragments/footer :: script}"></footer>

</body>

</html>