<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Password Reset')}"></head>

<body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <main class="container">
        <h1 class="text-center">Imposta una nuova password</h1>
        <section class="d-flex justify-content-center">
            <form class="w-50" th:action="@{/user/reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}" />
                <label class="form-label">Nuova password:</label>
                <input class="form-control" type="password" name="password" required />
                <button class="btn btn-primary mt-2" type="submit">Aggiorna password</button>
            </form>


        </section>
        <section id="message" class="text-center">
            <p style="color: red; font-weight: 600;" th:text="${error}"></p>
            <p style="color: green; font-weight: 600;" th:text="${message}"></p>
        </section>
    </main>
    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>