<th:block th:fragment="navbar">
  <nav class="navbar navbar-expand-lg border-bottom border-body py-2" data-bs-theme="dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <img id="navbar-icon" class="mx-1" th:src="@{/img/logo.jpg}" alt="logo" width="30" height="30">
        <ul sec:authorize="isAuthenticated()" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
          </li>

          <li sec:authorize="hasAuthority('USER_VERIFIED')" class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Servizi
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" th:href="@{/photo/upload}">Foto</a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/invited}">Invitati</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{|/user/info|}">Info Utente</a>
          </li>
          <li sec:authorize="hasAuthority('USER_VERIFIED')" class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{|/photo/gallery|}">Gallery foto</a>
          </li>
          <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{|/user/index|}">Indice utenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{|/event/info/2|}">Eventi</a>
          </li>
        </ul>





        <div sec:authorize="isAuthenticated()">
          <div id="info-user">
            <p style="display: inline;"><strong>Ciao [[${userLogged.name}]]!</strong></p>
            <img th:if="${userLogged.linkProfilePhoto}" id="icon-profile-img" th:src="${userLogged.linkProfilePhoto}"
              alt="foto profilo">
            <img th:unless="${userLogged.linkProfilePhoto}" id="icon-profile-img" th:src="@{/img/profilo-alt.png}"
              alt="foto profilo">
          </div>
          <form class="d-inline" th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        </div>
      </div>


      <div>
        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-primary mx-1">Login</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/create}" class="btn btn-primary mx-1">Registrati</a>
      </div>







    </div>

  </nav>
</th:block>